*~
autom4te.cache/
imfenc/autom4te.cache/
imfgui/autom4te.cache/
*.swp
*.o
Makefile
config.log
config.status
imfenc/Makefile
imfenc/config.log
imfenc/config.status
imfenc/src/Makefile
imfgui/Makefile
imfgui/config.log
imfgui/config.status
imfgui/src/Makefile
imfgui/src/model/.deps/
imfgui/src/qtmodels/.deps/
imfgui/src/utils/.deps/
imfgui/src/views/.deps/
imfgui/src/model/.dirstamp
imfgui/src/nohup.out
imfgui/src/qtmodels/.dirstamp
imfgui/src/utils/.dirstamp
imfgui/src/views/.dirstamp
ltmain.sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4

