autom4te.cache/
imfenc/autom4te.cache/
imfgui/autom4te.cache/
*.swp
*.o
Makefile
config.log
config.status
imfenc/Makefile
imfenc/config.log
imfenc/config.status
imfenc/src/Makefile
imfgui/Makefile
imfgui/config.log
imfgui/config.status
imfgui/src/Makefile
imfgui/src/model/.deps/
imfgui/src/qtmodels/.deps/
imfgui/src/utils/.deps/
imfgui/src/views/.deps/
