codeblocks/
INSTALL
bin/
*.o
*.in
Makefile
configure
third-party/
obj/
missing
*.swp
install-sh
libtool
ltmain.sh
*.m4
autoscan.log
config.guess
config.sub
depcomp
*.scan
config.h.in~
*.cache
*.log
*.status
.deps
.dirstamp
